
<li class="nav-item">
    <a href="@Url.Action("Index", "Cart")" class="nav-link">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Cart
        <span class="badge">@ViewBag.ItemCount</span>
    </a>
</li>

